# Git
.git

# Github
.github

# NAIS
.nais

# Gradle
.gradle
gradlew
gradlew.bat

# IntelliJ
.idea

# Stuff inside build
build/classes
build/kotlin
build/resources
build/tmp

# Other
.gitignore
CODEOWNERS
LICENCE
README.md
