name: Check for newer chainguard-image

on:
  workflow_dispatch:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  check-digests:
    uses: navikt/mob-gha-workflows/.github/workflows/digestabot.yaml@main